<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Physical Description -->
    <xacro:include filename="$(find uirover_description)/xacro/chassis.urdf.xacro"/>

    <!-- Hardware -->
    <!-- <xacro:include filename="$(find uirover_description)/xacro/ros2_control.urdf.xacro"/> -->
    <!-- <xacro:uirover_ros2_control use_gazebo="false"/> -->
    
    <!-- Sensors -->
    <xacro:include filename="$(find uirover_description)/xacro/sensors.urdf.xacro"/>

    <!-- Arm -->
    <xacro:include filename="$(find uirover_description)/xacro/arm.urdf.xacro"/>
</robot>