<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find uirover_description)/xacro/gazebo.urdf.xacro"/>

    <xacro:include filename="$(find uirover_description)/xacro/ros2_control.urdf.xacro"/>
    <xacro:uirover_ros2_control use_gazebo="true"/>

    <xacro:include filename="$(find uirover_description)/xacro/chassis.urdf.xacro"/>
    
    <xacro:include filename="$(find uirover_description)/xacro/sensors.urdf.xacro"/>
</robot>