<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find uirover_description)/urdf_components/physical_description.urdf.xacro"/>
    <xacro:include filename="$(find uirover_description)/urdf_components/sensors.urdf.xacro"/>
    <xacro:include filename="$(find uirover_description)/urdf_components/ros2_control.urdf.xacro"/>
    <xacro:include filename="$(find uirover_description)/urdf_components/gazebo.urdf.xacro"/>
    
    <xacro:uirover_ros2_control use_gazebo="true"/>
</robot>