<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- placeholder for ros2 control -->
    <!-- https://github.com/ros-controls/ros2_control_demos/blob/master/example_9/ -->
    <!-- https://control.ros.org/rolling/doc/getting_started/getting_started.html -->
    <!-- https://control.ros.org/rolling/doc/gz_ros2_control/doc/index.html -->

    
</robot>