<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- placeholder for ros2 control -->
    <!-- https://github.com/ros-controls/ros2_control_demos/blob/master/example_9/ -->
    <!-- https://control.ros.org/rolling/doc/getting_started/getting_started.html -->
    <!-- https://control.ros.org/rolling/doc/gz_ros2_control/doc/index.html -->

    <xacro:macro name="uirover_ros2_control" params="use_gazebo:=^|false">

        <ros2_control name="uirover_hardware_system" type="system">
            <!-- Hardware Plugin -->
            <hardware>
                <xacro:if value="${use_gazebo}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <xacro:unless value="${use_gazebo}">
                    <plugin>uirover_hardware/UiroverHardwareInterface</plugin>
                </xacro:unless>
            </hardware>

            <!-- Joints -->
            <joint name="fl_wheel_joint">
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
            </joint>
            <joint name="fr_wheel_joint">
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
            </joint>
            <joint name="bl_wheel_joint">
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
            </joint>
            <joint name="br_wheel_joint">
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
            </joint>
            <joint name="ml_wheel_joint">
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
            </joint>
            <joint name="mr_wheel_joint">
                <command_interface name="effort">
                    <param name="min">-1</param>
                    <param name="max">1</param>
                </command_interface>
            </joint>
        </ros2_control>

    </xacro:macro>


</robot>