<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- placeholder for ros2 control -->
    <!-- https://github.com/ros-controls/ros2_control_demos/blob/master/example_9/ -->
    <!-- https://control.ros.org/rolling/doc/getting_started/getting_started.html -->
    <!-- https://control.ros.org/rolling/doc/gz_ros2_control/doc/index.html -->

    <xacro:macro name="uirover_ros2_control" params="use_gazebo:=^|false">
        <ros2_control name="uirover_control" type="system" >
            <hardware>
                <xacro:if value="${use_gazebo}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>
                <!-- <xacro:unless value="${use_gazebo}">
                    <plugin>uirover_hardware/RRBotSystemPositionOnlyHardware</plugin>
                    <param name="example_param_hw_start_duration_sec">0</param>
                    <param name="example_param_hw_stop_duration_sec">3.0</param>
                    <param name="example_param_hw_slowdown">100</param>
                </xacro:unless> -->
            </hardware>
        </ros2_control>
    </xacro:macro>
</robot>