<?xml version="1.0"?>
<robot name="uirover" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find uirover_description)/xacro/utility_macros.xacro" />

    <xacro:macro name="uirover_sensors" params="use_gazebo:=^|false">
        <!-- =============================== -->
        <!--            SENSORS              -->
        <!-- =============================== -->

        <!-- ARDUCAM CAMERA -->
        <xacro:macro name="arducam" params="name use_gazebo:=^|false">
            <link name="${name}">
                <visual>
                    <geometry>
                        <cylinder radius="0.01" length="0.01" />
                    </geometry>
                    <material name="Grey">
                        <color rgba="0.7 0.7 0.7 1.0" />
                    </material>
                </visual>
                <collision>
                    <geometry>
                        <cylinder radius="0.01" length="0.01" />
                    </geometry>
                </collision>
                <xacro:cylinder_inertia_tensor mass="0.1" radius="0.01" length="0.01" />
            </link>

            <xacro:if value="${use_gazebo}">
                <gazebo reference="${name}">
                    <sensor name="boundingbox_camera" type="boundingbox_camera">
                        <topic>demo_cam</topic>
                        <camera>
                            <box_type>2d</box_type>
                            <horizontal_fov>1.047</horizontal_fov>
                            <image>
                                <width>800</width>
                                <height>600</height>
                            </image>
                            <clip>
                                <near>0.1</near>
                                <far>10</far>
                            </clip>
                        </camera>
                        <always_on>1</always_on>
                        <update_rate>30</update_rate>
                        <visualize>true</visualize>
                    </sensor>
                </gazebo>
            </xacro:if>
            <joint name="front_camera_joint" type="fixed">
                <origin xyz="1.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <parent link="base_link" />
                <child link="${name}" />
            </joint>

        </xacro:macro>

        <xacro:arducam name="demo_camera" use_gazebo="true" />
    </xacro:macro>

</robot>